* {
    box-sizing: border-box;
}


html,
body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;


}

.App {
    width: 100%;
    height: 100%;
    display: flex;
    padding-top: 60px;
    padding-bottom: 50px;
    flex-direction: row;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    align-content: center;
    background-size: 2000px 1000px;
    background-image: url('./static/Wave.svg');
    background-position: -500px 0;
    background-repeat: repeat;
    color: #f9f9f9;
    font-family: 'Euclid Circular A';
    animation: background 20s infinite alternate linear;






}

@media(max-width:769px) {
    .App {
        align-content: start;
        overflow-y: scroll;
       
    }
}

@keyframes background {
    100% {
        background-size: 4000px 1000px;
    }
}

.mainForm {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    padding-top: 15px;


}


.mainForm input {
    width: 20%;
    outline: none;
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.75);
    border: 1px solid rgba(255, 255, 255, 0.125);
    color: #e0e0e0;
    border: none;
    padding: 10px;
    font-size: 18px;

}

.mainForm button {
    width: 10%;
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.75);
    border: 1px solid rgba(255, 255, 255, 0.125);
    color: #157ae1;
    outline: none;
    border: none;
    font-size: 16px;

}

.mainForm button:hover {
    border: 1px solid #157ae1;
    cursor: pointer;
}





#root {
    width: 100%;
    height: 100%;



}



.weatherCard {

    width: 250px;
    height: 200px;
    border-radius: 20px;
    margin: 10px;
    padding: 5px;
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.75);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    display: flex;
    flex-direction: column;




}




.weatherCardImg {
    width: 100%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px;

}

.weatherCardImg img {
    width: 80px;
    height: 80px;
}






.weatherCardSubinfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.tempDate img {
    width: 15px;
    height: 15px;
    margin-left: 3px;

}

.tempDate {
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 90%;
}

.windHum {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 18px;
}

.windHum img {
    width: 25px;
    height: 25px;
}

.windHum span {
    display: flex;
    align-items: center;
}

.GuidenceInfo {
    padding: 20px;
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.75);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
}

@media(max-width:426px) {
    .weatherCard {
        width: 100%;
        height: 80px;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }

    .weatherCardImg {
        padding: 0;
        width: 20%;
        height: 100%;
    }

    .weatherCardSubinfo {
        flex-direction: row;

    }

    .tempDate {
        justify-content: start;
        font-size: 16px;
        display: inline;
        width: 30%;
    }

    .windHum {
        width: 60%;
        font-size: 14px;
    }

    .windHum span {
        margin-left: 20px;
        width: 100px;
    }

    .windHum p {
        width: 60px;
    }


}

.lds-roller {
    margin: 0 auto;
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.lds-roller div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 40px 40px;
}

.lds-roller div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #e0e0e0;
    margin: -4px 0 0 -4px;
}

.lds-roller div:nth-child(1) {
    animation-delay: -0.036s;
}

.lds-roller div:nth-child(1):after {
    top: 63px;
    left: 63px;
}

.lds-roller div:nth-child(2) {
    animation-delay: -0.072s;
}

.lds-roller div:nth-child(2):after {
    top: 68px;
    left: 56px;
}

.lds-roller div:nth-child(3) {
    animation-delay: -0.108s;
}

.lds-roller div:nth-child(3):after {
    top: 71px;
    left: 48px;
}

.lds-roller div:nth-child(4) {
    animation-delay: -0.144s;
}

.lds-roller div:nth-child(4):after {
    top: 72px;
    left: 40px;
}

.lds-roller div:nth-child(5) {
    animation-delay: -0.18s;
}

.lds-roller div:nth-child(5):after {
    top: 71px;
    left: 32px;
}

.lds-roller div:nth-child(6) {
    animation-delay: -0.216s;
}

.lds-roller div:nth-child(6):after {
    top: 68px;
    left: 24px;
}

.lds-roller div:nth-child(7) {
    animation-delay: -0.252s;
}

.lds-roller div:nth-child(7):after {
    top: 63px;
    left: 17px;
}

.lds-roller div:nth-child(8) {
    animation-delay: -0.288s;
}

.lds-roller div:nth-child(8):after {
    top: 56px;
    left: 12px;
}

@keyframes lds-roller {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}



@media(max-width:769px) {
    .mainForm input {
        width: 80%;
    }

    .mainForm button {
        width: 20%;
    }
}